# If you have previously committed something that you want to ignore later on, run
# "git rm -r --cached ." to remove it from the repository. This is needed because Git only ignores 
# files that are not already tracked. If you have already committed to a file or directory 
# in your repository, it will continue to be tracked even if you add it to .gitignore later on.

# Setting up as whitelist:
/**

!app/
!app/**

!.github/
!.github/**

**/__pycache__/
.txt
**/*.txt

!.gitignore
!app.py
!run.py
!config.py
!requirements.txt
!package.json
!tsconfig.json