<!DOCTYPE html>
<html>
<head>
    <title>Image Widget</title>
    <style>
        body { margin: 0; }
    </style>
    <script type="importmap">
        {
            "imports": {
                "three": "/node_modules/three/build/three.module.js",
                "three/addons/": "/node_modules/three/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <div id="widget-container" data-js-image="cat2.jpg"></div>
    <script defer type="module" src="./static/js/widget.js"></script>
</body>
</html>


