{% extends "base/nav_base.html" %}
{% import "base/macros.html" as macros %}
{% block title %}Admin Tool{% endblock %}
{% block body_attr %}{% endblock %}

{% block content %}


<div class="m-4 col-12 col-lg-8">
<div class="bg-dark text-light p-2 m-2" style="overflow:auto;">
{{ macros.pagination_widget(pagination, "userkit.admin_tool") }}
<table id="user-table" class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th id="table-header-{{ field }}" class="bg-secondary">{{ field }}</th>
            {% endfor %}
            <th class="bg-secondary">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            {% for field in fields %}
            <td>
                {% if field == 'role' %}
                    {{ user.role.name }}
                {% elif field == 'is_active' %}
                    <input type="checkbox" {% if user.role.name == 'Admin' %}disabled{% endif %} {{ 'checked' if user[field] }} onchange="toggleIsActive('{{ user.id }}')">
                {% else %}
                    {{ user[field] }}
                {% endif %}
            </td>
            {% endfor %}
            <td>
                <button class="btn btn-sm btn-primary {% if user.role.name == 'Admin' %}disabled{% endif %}" 
                onclick="deleteButton({{ user.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="admin-form" method="POST">
    <!-- Form to modify users -->
    <input type="hidden" name="hidden-user-id" id="hidden-user-id" value="">
</form>

</div>
</div>

<script>
function toggleIsActive(user_id) {
    form = document.getElementById("admin-form");
    input = document.getElementById("hidden-user-id");
    actionData = { action: "toggleIsActive", user_id: user_id };
    input.value = JSON.stringify(actionData);
    form.submit();
}
function deleteButton(user_id) {
    form = document.getElementById("admin-form");
    input = document.getElementById("hidden-user-id");
    actionData = { action: "deleteUser", user_id: user_id };
    input.value = JSON.stringify(actionData);
    form.submit();
}
</script>

{% endblock %}