{% extends "base/nav_base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}Feedback{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-2 m-3 bg-light text-dark rounded">
            <div class="page-header">
                <h1>Feedback</h1>
            </div>
            <div>
                <p>
                    We appreciate your feedback and will use it to improve our website. 
                    Please feel free to share your thoughts, suggestions, or concerns. 
                </p>
                {{ render_form(form) }}
            </div>
            <hr>
            <div class="page-header">
                <h1>Contact Us</h1>
            </div>
            <div>
                <p class="mt-3">
                    If you want to contact us directly, send an email to 
                    <span class="text-muted" style="font-family: monospace; font-weight: bold;">multi.avahak[at]<span class="d-none">obfuscation text for robots</span>gmail[dot]com</span>
                    instead.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}