{% extends "base/nav_base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% import "base/macros.html" as macros %}

{% block title %}Profile page{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-2 m-3 bg-light text-dark rounded">
            <div class="page-header">
                <h1>Profile page</h1>
            </div>
            <div>
                <ul>
                    <li>Email: {{ current_user.email }}</li>
                    <li>Join Date: {{ current_user.member_since }}</li>
                    <li>Role: {{ current_user.role.name }}</li>
                </ul>
                <a href="{{ url_for('userkit.change_password') }}" class="btn btn-primary">Change Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}