{% extends "base/nav_base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% import "base/macros.html" as macros %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-2 m-3 bg-light text-dark rounded">
            <div class="page-header">
                <h1>Request Password Reset Email</h1>
            </div>
            <div>
                <p>
                    If you've forgotten your password, enter the email address associated 
                    with your account, and we'll send you a link to reset your password. 
                    Follow the instructions in the email to create a new password and 
                    regain access to your account.
                </p>
                {{ render_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}