{% extends "base/nav_base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% import "base/macros.html" as macros %}

{% block title %}Request Confirmation Email{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-2 m-3 bg-light text-dark rounded">
            <div class="page-header">
                <h1>Request Confirmation Email</h1>
            </div>
            <div>
                <p>
                    If you've lost your registration email and need another confirmation 
                    link, please enter the email address associated with your account below. 
                    We'll send you a new confirmation email.
                </p>
                {{ render_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}