<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <title>TBA</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">

    <!-- <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.157.0/build/three.module.js",
            "three/examples/": "https://unpkg.com/three@0.157.0/examples/"
        }
    }
    </script> -->
    <script type="importmap">
    {
        "imports": {
            "three": "/node_modules/three/build/three.module.js",
            "three/examples/": "/node_modules/three/examples/"
        }
    }
    </script>

    <script defer type="module" src="./static/js/welcomeAnimator.js"></script>
</head>

<body>
    <div class="canvas-container m-0 p-0" style="width:100%;height:100%;" id="canvas-container">
        <div class="bg-dark m-0 p-0" id="three-box" style="width:100%;height:100%;"></div>
        <canvas id="overlay-canvas" class="m-0 p-0"></canvas>
    </div>
    <div id="div-overlay">
        <div class="div-under-construction div-under-construction-1 striped-background">
            <p class="font-under-construction">(*) Under construction! (*)</p>
        </div>
        <div class="div-under-construction div-under-construction-2 striped-background">
            <p class="font-under-construction">(*) Work in progress! (*)</p>
        </div>
        <div id="div-top" class="position-top">
            <p class="font-huge white">Three Balls Ahead</p>
            <p class="font-large white">Tools to empower your game.</p>
        </div>
        <div id="div-bottom" class="position-bottom">
            <a href="{{ url_for('main.front') }}">
                <button id="button-get-started"><strong>Get Started</strong></button>
            </a>
            <div class="white row mt-3">
                <div class="d-none d-md-block col-6 col-lg-3 m-0 p-0">
                    <div class="div-feature" data-url="{{ url_for('main.diagram') }}">
                        <p class="font-medium">Pool Diagrams</p>
                        <p class="font-small">
                            Design pool diagrams with with a physics assisted tool(*).
                        </p>
                    </div>
                </div>
                <div class="d-none d-md-block col-6 col-lg-3 m-0 p-0">
                    <div class="div-feature" data-url="{{ url_for('main.shots') }}">
                        <p class="font-medium">Share Shots</p>
                        <p class="font-small">
                            Link diagrams easily.
                            Embed interactive diagrams on your own website(*). 
                        </p>
                    </div>
                </div>
                <div class="d-none d-md-block col-6 col-lg-3 m-0 p-0">
                    <div class="div-feature" data-url="{{ url_for('main.physics') }}">
                        <p class="font-medium">Simulate Pool</p>
                        <p class="font-small">
                            Simulate shots with a physics based engine.
                        </p>
                    </div>
                </div>
                <div class="d-none d-md-block col-6 col-lg-3 m-0 p-0">
                    <div class="div-feature" data-url="{{ url_for('main.front') }}">
                        <p class="font-medium">Coming Soon</p>
                        <p class="font-small">
                            Better physics. Other content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>